ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li.nav a:hover:not(.active) {
        background-color: #111;
    }

li.nav.active {
    background-color: #4CAF50;
}

















h2 {
    text-align: center;
}

    h2.active {
        text-align: left;
        text-indent: 1.5em;
    }

    h2.header {
        padding: 8px;
        text-align: start;
        background-color: #222;
        border-color: #080808;
        color: white;
       }



.cener {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].gtr {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: flex-end
}

select.sgtr {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit].gtr:hover {
    background-color: #45a049;
}

input[type=submit].gtr2 {
    width: 100%;
    background-color: #DC5452;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: flex-start
}

    input[type=submit].gtr2:hover {
        background-color: #C94E4C;
    }


div.boxing {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}
