@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/CSS/headerStyle.css" rel="stylesheet" />


<nav class="navbar navbar-inverse">
    <div>
        <h2 class="header">Faculty Management System</h2>
    </div>

    <ul class="topnav">
        <li ><a asp-action="Home" asp-controller="Home">Home</a></li>
        <li ><a asp-action="AddCourse" asp-controller="Course">Add Course</a></li>
        <li ><a asp-action="AddFaculty" asp-controller="Faculty">Add Faculty</a></li>
        <li ><a asp-action="ViewFaculty" asp-controller="Faculty">View faculty</a></li>
        <li ><a asp-action="ViewCourse" asp-controller="Course">View Course</a></li>
        <li ><a asp-action="AssignFaculty" asp-controller="Faculty">Assign Faculty</a></li>
        <li ><a asp-action="ViewAssignedFaculty" asp-controller="Faculty">View Assign Faculty</a></li>
        <li ><a asp-action="FacultyFeedback" asp-controller="Faculty">Faculty Feedback</a></li>
        <li ><a asp-action="CourseFeedback" asp-controller="Course">Course Feedback</a></li>
        <li ><a asp-action="Feedback" asp-controller="Home">View Feedback</a></li>

    </ul>

</nav>
