
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Faculty Management Sysytem</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/MyStyle.css" rel="stylesheet" />
</head>
<body>

   @Html.Partial("_HeaderNavBar");
   
    <img src="~/Images/homeimage.png"  width="1500" height="633">
</body>
</html>
